
body {
  background-color: rgb(247, 247, 247);
}
.botao1 {
  background-color: green;
  border-radius: 5%;
  padding: 5px;
  color: white;
  text-decoration: none;
}
.nome {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.fototexto {
  background-color: white;
  display: flex;
  border-radius: 10px;
 
}
.fotoperfil {
  width: 250px;
  padding: 2px;
  background-color:darkgray ;
  border-radius: 10px;
}
.descricao {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
.redesocial {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  margin-left: 300px ;
  margin-top: 90px;
  display: flex;
  }
  .facebook:hover, .instagram:hover, .github:hover, .linkedin:hover {
   padding: 12px;
  }

.facebook, .instagram, .github, .linkedin {
  padding: 10px;
  background-color: rgb(247, 247, 247)
  }
.facebook {
  background-image: url("imagens/facebook.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  overflow: hidden;
  color: transparent;
  margin:10px;
}
.instagram {
  background-image: url("imagens/instagram-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  overflow: hidden;
  color: transparent;
  margin: 10px;
}
.github {
  background-image: url("imagens/github.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  overflow: hidden;
  color: transparent;
  margin: 10px;
}
.linkedin {
  background-image: url("imagens/linkedin.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  overflow: hidden;
  color: transparent;
  margin: 10px;
}
.infos {
  font-style: italic;
}
.lista {
  font-size: 20px;
  list-style: square;
}
.hab {
  background-color: white;
  border-radius: 10px; 
}

.projetos {
  display: flex;
  width: 250px;
  height: 300px;
  text-decoration: none;
  background-size: contain;
  justify-content: center;
  align-items: center;
  color: transparent;
}

#projetos {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  border-radius: 10px;
}

#projetosh3 {
display: flex;
justify-content: center;
}

#pixelart:hover , #todolist:hover , #trybewarts:hover {
  padding: 5px;
}

.blocos {
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  border: black solid 1px;
}

#pixelart {
  background-image: url(imagens/pixelart.png);
  width: 250px;
  height: 300px;
  border-radius: 5px;
}

#todolist {
  background-image: url(/imagens/todolist.png);
  width: 250px;
  height: 300px;
  border-radius: 5px;
}

#trybewarts {
  background-image: url(/imagens/trybewarts-colored.svg);
  width: 250px;
  height: 300px;
  border-radius: 5px;
}