
body {
  background-color: white;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.infos {
  font-style: italic;
}
#risco {
  text-decoration: line-through;
}
.um {
  font-style: italic;
  font-size: 21px;
}
.dois {
  font-size: 20px;
}
.tres {
  font-size: 19px;
}
.quatro {
  font-size: 18px;
}
.cinco {
  font-size: 17px;
}
